---
import Input from "~/components/Input.astro";
import { db } from "~/contacts.ts";
import Layout from "../_layout.astro";
import Label from "~/components/Label.astro";
import A from "~/components/A.astro";

const search = Astro.url.searchParams.get("q");
const contacts = search ? await db.search(search) : await db.all();
---

<Layout>
	<main class="flex flex-col items-start gap-8">
		<form action="/contacts" method="get">
			<Label for="search" class="sr-only">Search</Label>
			<Input
				id="search"
				name="q"
				placeholder="Search"
				type="search"
				value={search}
			/>
		</form>
		<table class="w-full max-w-full border-collapse divide-y indent-0">
			<thead>
				<tr>
					<th
						class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
						scope="col">ID</th
					>
					<th
						class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
						scope="col">First</th
					>
					<th
						class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
						scope="col">Last</th
					>
					<th
						class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
						scope="col">Email</th
					>
					<th
						class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
						scope="col">Phone</th
					>
					<th></th>
				</tr>
			</thead>
			<tbody class="divide-y">
				{
					contacts.map((contact) => (
						<tr>
							<td class="whitespace-nowrap px-3 py-4 text-left text-sm first-of-type:pl-0">
								{contact.id}
							</td>
							<td class="whitespace-nowrap px-3 py-4 text-left text-sm first-of-type:pl-0">
								{contact.firstName}
							</td>
							<td class="whitespace-nowrap px-3 py-4 text-left text-sm first-of-type:pl-0">
								{contact.lastName}
							</td>
							<td class="whitespace-nowrap px-3 py-4 text-left text-sm first-of-type:pl-0">
								{contact.email}
							</td>
							<td class="whitespace-nowrap px-3 py-4 text-left text-sm first-of-type:pl-0">
								{contact.phone}
							</td>
							<td class="flex items-center justify-end gap-2 whitespace-nowrap px-3 py-4 text-sm first-of-type:pl-0">
								<A href={`/contacts/${contact.id}/edit`}>
									Edit
								</A>
								<A href={`/contacts/${contact.id}`}>View</A>
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
		<A href="/contacts/new">Add Contact</A>
	</main>
</Layout>
